@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 192.46 59.63% 42.75%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 7% 7%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 198 19% 21%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 192.46 59.63% 42.75%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply antialiased font-sans bg-background text-foreground;
    font-size: 14px;
  }

  h1, .h1 {
    font-size: 5rem;
  }

  h2, .h2 {
    font-size: 3.812rem;
  }

  h3, .h3 {
    font-size: 2.938rem;
  }

  h4, .h4 {
    font-size: 2.250rem;
  }

  h5, .h5 {
    font-size: 1.688rem;
  }

  h6, .h6 {
    font-size: 1.312rem;
  }

  p, .p {
    font-size: 1rem;
  }

  .body {
    font-size: 1rem;
  }

  small, .small {
    font-size: 0.850rem;
  }

  hr {
    @apply border-slate-200 dark:border-slate-600
  }
}

@layer components {
  .apply-transition {
    @apply transition-all duration-150 ease-in-out;
  }

  .btn {
    @apply inline-flex items-center justify-center text-center gap-2 body px-6 py-1 h-12 apply-transition rounded-lg;
  }

  .slide-in {
    @apply apply-transition translate-x-0;
    animation: slide-kf .5s ease-in-out forwards;
  }

  @keyframes slide-kf {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}